@font-face {
  font-family: "Cambay";
  src: url("./fonts/Cambay/Cambay-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("./fonts/PT_Sans/PTSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cambay-bold";
  src: url("./fonts/Cambay/Cambay-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

h3 {
  font-family: "Cambay";
  font-weight: 100;
}

nav {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-column-gap: 10vw;
  height: 10vh;

  h3 {
    font-family: "cambay-bold";
    font-size: 25px;
  }
}

.alternate-links {
  max-width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

nav a {
  text-decoration: none;
  color: black;
}

.btn {
  background-color: #ba5429;
  text-align: center;
  border-radius: 40px;
  margin-top: -10px;
  padding: 10px 50px;
}

.btn a {
  color: white;
  margin: auto 0;
}

.above-fold {
  height: 85vh;

  h3 {
    font-family: "PT Sans";
    font-size: 38px;
    font-weight: 100;
    text-align: center;
    max-width: 37.5vw;
    margin-top: 10vh;
    padding-top: 10vh;
    margin-left: 5vw;
  }

  .hollow-btn {
    background-color: white;
    color: black;
    border: 3px solid #ba5429;
  }
  a {
    text-decoration: none;
  }

  a h3 {
    width: max-content;
    padding: 5px 40px;
    border-radius: 40px;
    font-family: "Cambay";
    font-size: 30px;
    font-weight: bold;
  }
  .filled-btn {
    background-color: #ba5429;
    color: white;
  }
  .abv-fold-btns {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75vw;
    margin-left: 10vw;
  }
}

.pic {
  width: 50vw;
  height: 50vh;
  margin: 2vh 2vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.science-svg {
  background-image: url("../imgs/undraw_science_fqhl.svg");
  float: right;
}

.green-section {
  background-color: #7ba734;
  margin-left: -10vw;
  padding-left: 11vw;
  margin-right: -10vw;
  padding-right: 11vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.split-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.socials {
  border-left: 3px solid #000;
  h3 {
    font-size: 25px;
    text-align: center;
  }
  .soc-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    a {
      text-align: center;
      text-decoration: none;
      color: #000;
      font-size: 20px;
      h3 {
        font-size: 20px;
      }
    }
  }
}
.newsletter {
  h3 {
    font-size: 25px;
    text-align: center;
  }
}

.grid {
  .pic {
    height: 30vh;
    width: 100%;
    margin: 0;
  }
  border: 5px solid #7ba734;
  padding: 5vh 5vw;
  text-align: center;
  border-radius: 30px;
  color: black;
  text-decoration: none;
  h3 {
    font-family: "cambay-bold";
    font-size: 25px;
  }
  background-color: #ffffff;
  transition: background-color 0.5s ease-in-out;
}

.grid:hover {
  background-color: #7ba734;
}

.projects-grid {
  display: grid;
  width: 80vw;
  margin-left: 10vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5vh;
}

#projects {
  margin-bottom: 10vh;
  margin-top: 10vh;
}

.title {
  text-align: center;
  font-family: "PT Sans";
  font-size: 35px;
}

.newsletter-section {
  max-width: 80vw;
  margin-left: 10vw;
  h1 {
    font-family: "PT Sans";
    font-size: 40;
  }
  h3 {
    font-size: 25px;
  }
  .newsletter-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5vw;
    .pic {
      width: 100%;
      height: 20vh;
      background-color: lightcoral;
      border-radius: 30px;
      margin: 0;
    }
    a {
      text-decoration: none;
      color: black;
      font-family: "Cambay";
      font-size: 25px;
      text-align: center;
      margin-top: 5vh;
      cursor: pointer;
      p {
        transition: background-color 0.25s ease-in;
        padding: 10px;
        border: 3px solid #7ba734;
        border-radius: 20px;
        &:hover {
          background-color: #7ba734;
        }
      }
      .news {
        border: 3px solid #6c63ff;
        &:hover {
          background-color: #6c63ff;
        }
      }
    }
  }
}

.events-sec {
  h4 {
    font-family: "Cambay";
    font-weight: bold;
    text-align: center;
    margin-top: 5vh;
    font-size: 25px;
  }
}

.empty-currently {
  height: 60vh;
  text-align: center;
  padding-top: 25vh;
}

.partners {
  p {
    text-align: center;
  }
}

.donate-section {
  height: 30vh;
  width: 50vw;
  margin-left: 25vw;
  margin-bottom: 10vh;
  .pic {
    height: 20vh;
    width: 20vw;
  }
  p {
    font-family: "Cambay";
    font-size: 20px;
  }
}

// ALL OF THE PICTURE URLS
.hotspot-pic {
  background-image: url("../imgs/undraw_broadcast_jhwx.svg");
}

.SSS-pic {
  background-image: url("../imgs/studentssharingscience.png");
}

.CC-pic {
  background-image: url("../imgs/climateconnect.webp");
}

.CSP-pic {
  background-image: url("../imgs/be\ a\ scientist.webp");
}

.PALS-pic {
  background-image: url("../imgs/pals.webp");
}
