@font-face {
  font-family: "Cambay";
  src: url("./fonts/Cambay/Cambay-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("./fonts/PT_Sans/PTSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cambay-bold";
  src: url("./fonts/Cambay/Cambay-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

h3 {
  font-family: "Cambay";
  font-weight: 100;
}

nav {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-column-gap: 15vw;
  height: 10vh;
  width: 100vw;

  h3 {
    font-family: "cambay-bold";
    font-size: 25px;
  }
}

.alternate-links {
  max-width: 60vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: baseline;
}

nav a {
  text-decoration: none;
  color: black;
}

.btn {
  background-color: #ba5429;
  text-align: center;
  border-radius: 40px;
  padding: 10px 50px;
}

.btn a {
  color: white;
  margin: auto 0;
  text-align: center;
}

.above-fold {
  height: 85vh;

  h3 {
    font-family: "PT Sans";
    font-size: 38px;
    font-weight: 100;
    text-align: center;
    max-width: 37.5vw;
    margin-top: 10vh;
    padding-top: 10vh;
    margin-left: 5vw;
    cursor: pointer;
  }

  .hollow-btn {
    background-color: white;
    color: black;
    border: 3px solid #ba5429;
  }

  a {
    text-decoration: none;
  }

  a h3 {
    width: max-content;
    padding: 5px 40px;
    border-radius: 40px;
    font-family: "Cambay";
    font-size: 30px;
    font-weight: bold;
  }

  .filled-btn {
    background-color: #ba5429;
    color: white;
  }

  .abv-fold-btns {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75vw;
    margin-left: 10vw;
  }
}

.pic {
  width: 50vw;
  height: 50vh;
  margin: 2vh 2vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.science-svg {
  background-image: url("../imgs/undraw_science_fqhl.svg");
  float: right;
}

.green-section {
  background-color: #7ba734;
  margin-left: -10vw;
  padding-left: 11vw;
  margin-right: -10vw;
  padding-right: 11vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.split-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.socials {
  border-left: 3px solid #000;

  h3 {
    font-size: 25px;
    text-align: center;
  }

  .soc-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    a {
      text-align: center;
      text-decoration: none;
      color: #000;
      font-size: 20px;

      h3 {
        font-size: 20px;
      }
    }
  }
}

.newsletter {
  b {
    font-family: "Cambay";
    font-weight: 100;
  }

  h3 {
    font-size: 25px;
    text-align: center;
  }
  input {
    width: 25vw;
    height: 3vh;
    border: 2px solid black;
    background-color: #a8c974;
    padding: 1vh 2vw;
    font-family: "Cambay";
    font-size: 1.25vw;
  }

  input::placeholder {
    font-family: "Cambay";
    font-size: 1.2vw;
    padding-left: 10vw;
    color: #635b5b;
  }

  button {
    background-color: #a8c974;
    border: 2px solid black;
    color: black;
    text-align: center;
    height: 5.5vh;
    width: 12vw;
    margin-left: -5px;
    font-family: "cambay";
    font-size: 20px;
    font-weight: bold;
  }
}

.grid {
  .pic {
    height: 15vh;
    width: 100%;
    margin: 0;
  }

  border: 5px solid #7ba734;
  padding: 5vh 5vw;
  text-align: center;
  border-radius: 30px;
  color: black;
  text-decoration: none;
  height: 25vh;

  h3 {
    font-family: "cambay-bold";
    font-size: 25px;
  }

  background-color: #ffffff;
  transition: background-color 0.5s ease-in-out;
}

.grid:hover {
  background-color: #7ba734;
}

.projects-grid {
  display: grid;
  width: 80vw;
  margin-left: 10vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5vh;
}

#projects {
  margin-bottom: 10vh;
  margin-top: 10vh;
}

.title {
  text-align: center;
  font-family: "PT Sans";
  font-size: 35px;
}

.newsletter-section {
  max-width: 80vw;
  margin-left: 10vw;

  h1 {
    font-family: "PT Sans";
    font-size: 40;
  }

  h3 {
    font-size: 25px;
  }

  .newsletter-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5vw;

    .pic {
      width: 100%;
      height: 20vh;
      background-color: lightcoral;
      border-radius: 30px;
      margin: 0;
    }

    a {
      text-decoration: none;
      color: black;
      font-family: "Cambay";
      font-size: 25px;
      text-align: center;
      margin-top: 5vh;
      cursor: pointer;

      p {
        transition: background-color 0.25s ease-in;
        padding: 10px;
        border: 3px solid #7ba734;
        border-radius: 20px;

        &:hover {
          background-color: #7ba734;
        }
      }

      .news {
        border: 3px solid #6c63ff;

        &:hover {
          background-color: #6c63ff;
        }
      }
    }
  }
}

.events-sec {
  h4 {
    font-family: "Cambay";
    font-weight: bold;
    text-align: center;
    margin-top: 5vh;
    font-size: 25px;
  }
}

.empty-currently {
  height: 60vh;
  text-align: center;
  padding-top: 25vh;
}

.partners {
  p {
    text-align: center;
  }
}

.donate-section {
  height: 30vh;
  width: 50vw;
  margin-left: 25vw;
  margin-bottom: 10vh;

  .pic {
    height: 20vh;
    width: 20vw;
  }

  p {
    font-family: "Cambay";
    font-size: 20px;
  }
}

// ALL OF THE PICTURE URLS
.hotspot-pic {
  background-image: url("../imgs/undraw_broadcast_jhwx.svg");
}

.SSS-pic {
  background-image: url("../imgs/studentssharingscience.png");
}

.CC-pic {
  background-image: url("../imgs/climateconnect.webp");
}

.CSP-pic {
  background-image: url("../imgs/be\ a\ scientist.webp");
}

.PALS-pic {
  background-image: url("../imgs/pals.webp");
}

.intern-pic-left {
  background-color: lightcyan;
  width: 25vw;
  height: 25vw;
  float: left;
  border-radius: 50%;
  margin-right: 10vw;
  margin-bottom: 20vh;
}

.intern-pic-right {
  background-color: lightcyan;
  width: 20vw;
  height: 20vw;
  float: right;
  border-radius: 50%;
  margin-right: 3vh;
}

.slanted-up-green {
  margin-top: 25vh;
  background: #7ba734;
  margin-left: -11vw;
  margin-right: -11vw;
  padding-left: 10vw;
  padding-right: 10vw;
  position: relative;
  z-index: 1;
  height: 40vh;

  h3 {
    font-family: "Cambay";
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 5vh;
    margin-right: 5vw;
    padding-left: 5vw;
  }

  p {
    font-family: "Cambay";
    font-size: 20px;
    text-align: center;
    margin-right: 5vw;
    padding-left: 5vw;
  }
}

.slanted-up-green:after {
  background: inherit;
  bottom: 0;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3deg);
  transform-origin: 100%;
  z-index: -1;
}

.slanted-up-green:before {
  background: inherit;
  top: 0;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(2deg);
  transform-origin: 100%;
  z-index: -1;
}

.line-of-3-pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5vw;
  margin-top: 15vh;
  margin-bottom: 10vh;
  float: left;
  margin-left: 5vw;

  .pic {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: lightcoral;
  }
}

.impact-statement {
  margin-top: 10vh;
  margin-bottom: 10vh;

  h3 {
    font-family: "Cambay";
    font-weight: bold;
    font-size: 25px;
  }

  p {
    font-family: "Cambay";
    max-width: 70vw;
    font-size: 20px;
    margin-left: 10vw;
    text-align: center;
  }
}

.section {
  height: 40vh;

  h3 {
    font-family: "Cambay";
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 5vh;
    margin-right: 5vw;
    padding-left: 5vw;
  }

  p {
    font-family: "Cambay";
    font-size: 20px;
    text-align: center;
    margin-right: 5vw;
    padding-left: 5vw;
  }
}

.kcsc-logo {
  width: 15vw;
  height: 8vh;
  margin: 2vh 2vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../imgs/logo.jpg");
  margin-top: -2vh;
}

.kcsc-img-1 {
}

.right {
  float: right;
}

.bottom-10 {
  margin-bottom: 10vh;
  input {
    background-color: white;
  }
  button {
    background-color: white;
  }
}

.motto-img {
  height: 14vw;
  width: 27.7vw;
  background-color: lightgray;
  border-radius: 2.2vw;
}

.motto-sec {
  max-width: 90vw;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 4vw;
  align-items: center;
}

.intern-header {
  margin-top: 10vh;
  h1 {
    font-family: "PT Sans";
    font-size: 40px;
    width: 50vw;
    text-align: right;
  }
  h3 {
    font-size: 25px;
    width: 45vw;
    text-align: right;
  }
  a {
    font-family: "Cambay";
    background-color: #ba5429;
    color: white;
    border-radius: 40px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 1vh 5vw;
    width: max-content;
  }

  .btns {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25vw;
    max-width: 80vw;
    margin-left: 10vw;
  }

  .internship-pics {
    background-color: lightcoral;
    width: 20vw;
    height: 20vw;
  }
}
