nav {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-column-gap: 10vw;
}

.alternate-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.btn {
    background-color: #BA5429;
    text-align: center;
    border-radius: 40px;
    margin-top: -10px;
    padding: 10px 50px;
}

.btn a {
    color: white;
    margin: auto 0;
}